<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Downloadable Links"} %>

<%= form_for(:downloadable, :url => admin_product_downloadable_url(@product), :html => { :method => :put, :multipart => true }) do |f| %>
  	<fieldset>
		<%= f.field_container :name do %>
			<%= f.label :name, t(:filename) %> <span class="required">*</span>
  			<sup><%= t(:filename_hint) %></sup><br/>
	  		<%= f.file_field :downloadable %><br/>
	    <% end %>

		<%= f.field_container :title do %>
			<%= f.label :title, t(:title) %><span> <sup><%= t(:defaults_to_filename) %></sup></span><br/>
			<%= f.text_field :title %>
	  <% end %>

		<%= f.field_container :description do %>
			<%= f.label :description, t(:description) %><br/>
			<%= f.text_field :description %>
	  <% end %>

    <%= f.check_box :enabled %>
    <%= f.label :enabled %>

		  <% if @product.variants? %>
        <%= f.label Variant.human_name + ": " %>
        <%= f.select :viewable_id, @variants %>
      <% else %>
        <%= hidden_field_tag :product_id, @product.id %>
      <% end %>

      <p class="form-buttons">
        <%= button t(:update) %>
        <%= t(:or) %> <%= link_to t(:cancel), admin_product_downloadables_path, :id => "cancel_link" %>
      </p>
	</fieldset>
<% end %>

